* {
    box-sizing: border-box;
}

:root {
    --branco: #FFF;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;
    --cinza-claro: #F7F4F4;
    --cinza-medio: #D9D9D9;
        
    --fonte-link: #0084FF;
    --fonte-cinza: #666;
    --borda-cabecalho-mobile: #103D4A;
    --bg-rodape: #333;
    --bg-chamada-mobile: #00161C;

    --planos-cartao-start: #56CCF2;
    --planos-cartao-ultra: #B04CD9;
    --planos-cartao-mega: #E33B3B;

    --fonte-primaria: "Montserrat", serif;
    --fonte-secundaria: "Open Sans", serif;
}

body {
    color: white;
}


.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    background-color: var(--bg-chamada-mobile);
}

.header__img {
    display: block;
    margin: auto;
    padding: 12px 0 25px 0;
}

.header__navigation {
    font-family: var(--fonte-secundaria);
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
    font-size: 17px;
    padding-bottom: 21px;
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
}

.header-linha-horizontal {
    border: 1px solid var(--borda-cabecalho-mobile);
}

/* Seção Aplicativos */

.section__aplicativos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aplicativos__titulo {
    text-align: center;
    padding: 31px 0 28px 0;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
}

.aplicativos__texto {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    width: 85%;
    padding-bottom: 40px;
    font-family: var(--fonte-secundaria);
}

.aplicativos__botao {
    width: 330px;
    height: 50px;
    margin: auto;
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 5px;
    color: var(--branco);
    font-size: 15px;
}

/* Seção Destaques */

.section__destaques {
    background-color: #DFE3F5;
    font-family: var(--fonte-secundaria);
    color: black;
    padding: 37px 0 32px 0;
}

.destaques__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaques__titulo {
    color: var(--cinza-escuro);
    font-size: 24px;
    font-weight: 700;
    font-family: var(--fonte-primaria);
    padding-bottom: 35px;
}

.destaques__itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 34px;
}

.destaques__img01, .destaques__img02 {
    width: 375px;
    height: 183px;
}

.destaques__text01, .destaques__text02 {
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    width: 90%;
    
}

.destaques__botao {
    width: 330px;
    height: 50px;
    border: 1px solid var(--vermelho-forte);
    border-radius: 5px;
    background-color: transparent;
    color: var(--vermelho-forte);
}

/* Seção Habilidades */

.section__habilidades {
    color: var(--cinza-escuro);
    font-family: var(--fonte-secundaria);
    padding: 24px 0 64px 0;
}

.habilidades__list {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 75%;
}

.habilidades__items {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.habilidades__alinhamento {
    display: flex;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
}

.habilidades__img {
    width: 32px;
    height: 40px;
}

.habilidades__titulos {
    font-size: 19px;
    font-weight: 700;
}

.habilidades__textos {
    padding-left: 42px;
    font-weight: 400;
    line-height: 22px;
    width: 95%;
}

/* Seção sobre */

.section__sobre {
    padding: 64px 0;
    color: black;
}

.sobre__title {
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: bold;
    color: var(--cinza-escuro);
    text-align: center;
    padding-bottom: 23px;
}

.sobre__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 26px;
    font-family: var(--fonte-secundaria);
    padding-left: 26px;
}

.sobre__text {
    line-height: 22px;
}

.sobre__text > strong {
    font-weight: bold;
    color: var(--cinza-escuro);
}

.sobre__text-format {
    font-weight: bold;
    color: var(--cinza-escuro);
}

.sobre__items-imgs {
    display: flex;
    justify-content: center;
    gap: 33px;
}

.sobre__img-fundo {
    display: none;
}

/* Section Planos */

.section__planos {
    font-family: var(--fonte-secundaria);
    background-color: var(--cinza-claro);
    padding: 45px 0 80px 0;
}

.planos__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 37px;
}

.planos__title {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--fonte-primaria);
    color: var(--cinza-escuro);
    text-align: center;
    padding-bottom: 23px;
    
}

.planos__barra-horizontal {
    width: 100%;
    border: 1px solid var(--azul-claro);
}

.planos__title-start, .planos__price-start, .planos__button-start {
    color: var(--planos-cartao-start);
    font-weight: bold;
}

.planos__card-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--branco);
    padding: 13px 0 16px 0;
    border-radius: 5px;
}

.planos__title-start {
    font-size: 24px;
}

.planos__price-start {
    padding-top: 10px;
    font-size: 3rem;
}

.planos__align-text {
    padding: 30px 0 16px 0;
    margin: auto;
}

.planos__button-start {
    border: 1px solid var(--planos-cartao-start);
    background-color: transparent;
    width: 210px;
    height: 45px;
    border-radius: 5px;
    font-size: 19px;
}

.planos__vantagens-text {
    font-size: 15px;
    line-height: 28px;
    color: var(--fonte-cinza);
    text-align: start;
}

.planos__card-ultra { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 0 16px 0;
    border-radius: 5px;
    width: 100%;
    background-color: var(--branco);
}

.planos__title-ultra {
    font-size: 24px;
    font-weight: bold;
    color: var(--planos-cartao-ultra);
}

.planos__price-ultra {
    font-size: 3rem;
    font-weight: bold;
    color: var(--planos-cartao-ultra);
}

.planos__button-ultra {
    width: 210px;
    height: 45px;
    background-color: transparent;
    border: 1px solid var(--planos-cartao-ultra);
    color: var(--planos-cartao-ultra);
    font-size: 19px;
    font-weight: bold;
    border-radius: 5px;
}

.planos__card-mega {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 13px 0 16px 0;
    border-radius: 5px;
    background-color: var(--branco);
}

.planos__title-mega {
    font-size: 24px;
    font-weight: bold;
    color: var(--planos-cartao-mega);
}

.planos__price-mega {
    font-size: 3rem;
    font-weight: bold;
    color: var(--planos-cartao-mega);
}

.planos__button-mega {
    background-color: transparent;
    font-size: 19px;
    font-weight: bold;
    color: var(--planos-cartao-mega);
    border: 1px solid var(--planos-cartao-mega);
    border-radius: 5px;
    width: 210px;
    height: 45px;
}

/* Seção Contato */

.section__contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-secundaria);
    padding-top: 29px;
}

.contato__title {
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: bold;
    color: var(--cinza-escuro);
    padding-bottom: 20px;
}

.contato__text {
    font-size: 16px;
    color: black;
    padding-bottom: 19px;
}

.contato__button {
    width: 330px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--cinza-escuro);
    color: var(--cinza-escuro);
}

@media (min-width: 375px) {
    .destaques__img01, .destaques__img02 {
        width: 100%;
    }

    
}


@media (min-width: 768px) {
    .header__list {
        gap: 27px;
        padding-bottom: 58px;
    }
    .aplicativos__texto {
        text-indent: 15px;
        width: 68%;
    }

    .aplicativos__botao {
        width: 350px;
        height: 50px;
    }

    /* Seção destaques */

    .destaques__img01 {
        width: 564px;
        height: 275px;
    }

    .destaques__img02 {
        width: 542px;
        height: 266px;
    }

    .destaques__text01, .destaques__text02 {
        width: 100%;
        padding: 0;
    }

    /* Seção Habilidade */

    .habilidades__list {
        grid-template-columns: 45%;
    }

    /* Seção Sobre */

    .section__sobre {
        display: flex;
    }

    .sobre__list {
        padding-left: 46px;
    }

    .sobre__items-imgs {
        gap: 103px;
    }

    /* Seção Planos */

    .planos__card-start, .planos__card-ultra, .planos__card-mega {
        width: 60%;
    }
    
}



@media (min-width: 1024px) {
    
    .header__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
    }

    .header__img {
        padding: 0 0 0 41px;
    }

    .header__list {
        padding: 0 54px 0 0;
    }

    .header-linha-horizontal {
        display: none;
    }

    .aplicativos__titulo {
        padding: 80px 0 38px 0;
        padding-top: 80px;
        font-size: 52px;
    }

    .aplicativos__texto {
        width: 50%;
        text-indent: 15px;
    }

    /* Seção destaques */

    .destaques__img01 {
        width: 564px;
        height: 275px;
    }

    .destaques__img02 {
        width: 542px;
        height: 266px;
    }

    .destaques__text01, .destaques__text02 {
        width: 100%;
        padding: 0;
    }

    /* Seção Habilidades */

    .section__habilidades {
        background-color: var(--cinza-claro);
    }

    .habilidades__items {
        width: 70%;
    }

    .habilidades__grid01 {
        grid-area: tempo;
        justify-self: center;
    }

    .habilidades__grid02 {
        grid-area: foco;
        justify-self: center;
    }

    .habilidades__grid03 {
        grid-area: especialistas;
        width: 32%;
        justify-self: center;
    }

    .habilidades__list {
        grid-template-areas:
        "tempo tempo foco foco"
        "especialistas especialistas especialistas especialistas";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* Seção Sobre  */

    .sobre__title {
        text-align: start;
        padding-left: 46px;
    }
    
    .sobre__img-fundo {
        display: block;
        padding-right: 42px;
    }

    /* Seção Planos */

    .planos__list {
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    
}